beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.13
gunicorn==19.7.1
idna==2.6
jellyfish==0.5.6
nltk==3.2.5
pbr==3.1.1
pytz==2018.3
requests==2.18.4
scikit-learn==0.19.1
six==1.11.0
sklearn==0.0
stevedore==1.28.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
whitenoise==3.3.1
wikipedia==1.4.0
xlrd==1.1.0
psycopg2==2.6.2
