<!-- Heavily adapted from Bootstrap example "Cover"
https://getbootstrap.com/docs/3.3/examples/cover/ -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf8">
    <meta name="description" content="Analyzing pop culture sentiment over that past decades">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'popsents/css/general.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'popsents/images/sunglasses.png' %}" />
    <title>popculture:renegades</title>
</head>

<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h2 class="masthead-brand">The CAPP Romantics present... </h2>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#"><strong>Home</strong></a>
                    <a class="nav-link" href="#methods">Methods</a>
                    <a class="nav-link" href="#findings">Findings</a>
                    <a class="nav-link" href="#caveats">Caveats</a>
            </nav>
            </div>
        </header>

    <main role="main" class="inner cover">
        <h2 class="cover-heading"><img src="{% static 'popsents/images/chance.png'%}" class="img-fluid" alt="Chance"></h2>
        <h2 class="lead">
            <p>Songs, movies, and books shows us what the artists want to say. <br>
            But our choices in what to watch, listen to, or read may show us what messages we want to hear. </p>
            <a href='{%  url 'popsents:years' %}' class="btn btn-lg btn-secondary"> Let's take a time travel. </a>
        </h2>

        <section id="methods">
            <h1>Bag of Words</h1>
            <p>We use Robert Plutchik’s eight basic emotions theory to identify the primary emotions we look for in the algorithm. Each of these eight is then mapped to associated emotions, their synonyms, stemmed words, and hardcoded words to broaden the amount of words we can associate with an original basic emotion.</p>
            <p>Our algorithm then uses a bag of words model to count the most frequently occurring emotions in the summaries of top grossing movies, lyrics from songs in the Billboard Top 100, and abstracts from the best-selling books for any given year. We turn those totals into percentages, compare their values, and return the top three emotions for any given year. Lastly, we use the VaderSentiment library to determine the intensity of sentiments for that year: specifically whether they were positive, negative, or neutral.  </p>
            <p>In addition to our bag of words model, we also attempted an unsupervised clustering model in the hopes that it would cluster songs based on similarities that could be associated with their emotions. Although the model returned somewhat similar results to our bag of words model, we suspect it clustered randomly.</p>
        </section>

        <section id="findings">
            <h1> Findings </h1>
            <div class="plot-container">
                <a href="https://plot.ly/~hyechang/5/?share_key=Tok7nIgnj61GZu60tl8YQr" target="_blank" title="Plot 5" style="display: block; text-align: center;"><img src="https://plot.ly/~hyechang/5.png?share_key=Tok7nIgnj61GZu60tl8YQr" alt="Plot 5" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                <script data-plotly="hyechang:5" sharekey-plotly="Tok7nIgnj61GZu60tl8YQr" src="https://plot.ly/embed.js" async></script>
            </div>
        </section>

        <section id="caveats">
            <h1> Caveats </h1>
            <p>There are significant caveats and limitations in our analysis:</p>
            <p>Particularly in songs, emotions can be expressed figuratively or through the music itself. Our analysis, which relies on NLTK synonyms and doesn’t take the musical composition into account, does not capture this complexity.</p>
            <p>Other models, such as ones that group similar songs together by emotion to determine shared characteristics, could yield more accurate results since they would account for context. We attempted one of these models, but found it grouped randomly due to the size of the vocabulary. </p>
        </section>

    </main>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

</body>
</html>
