/****** BASE STYLES ******/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#events-index {
    height: 600px;
}

/****** GRID ******/
#wrapper{
    max-width:960px;
    width: 90%
    margin:auto;
}

.full-width {
    width: 100%;
    margin: 0 auto;
}
.half-width {
    width: 50%;
    float: left;
}
.third-width {
    width: 33.3%;
    float: left;
}

/****** HEADER ******/

header {
    height: 800px;
    background: url('images/chance.png');
    background-size: cover;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #bbc085;
    padding: 50px 0;
}

header h2 {
    width: 100%;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0;
}
header h2 span {
    color: #2b2b2b;
}
