<!DOCTYPE html>

<head>
    {% load static %}
    <title>pop culture renegades</title>
    <link rel="stylesheet" type="text/css" href="{% static 'popsents/style.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
</head>


<body>

    <header>
        <div class="full-width">
            <h1> Welcome to the project page for Pop Culture Renegades</h1>

        </div>
    </header>

    <main>
        <section id="events-index">
            <div class="full-width">
                {% if random_events %}
                    <ul>
                    {% for event in random_events %}
                        <li><a href="{% url 'popsents:detail' event.id%}">{{ event.year }} {{event.month}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No events are available.</p>
                {% endif %}
            </div>
        </section>
    </main>

</body>
