<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta name="description" content="Analyzing pop culture sentiment over that past decades">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'popsents/css/emoji.css' %}" />
  <title> {{compound.year}} </title>
</head>


<body>

  <div class="wrapper">

        <h1> {{compound}} </h1>


        <section="emo-table">
            {{ table|safe }}
        </section>

        <section="media">
            <h1>Greatest Hits</h1>
            {% if media %}
                <ul>
                {% for m in media %}
                    <li>{{ m }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Oh, no! This year was VOID of pop culture. #sad </p>
            {% endif %}
        </section>

        <section="events">
            <h1>Some Notable Events</h1>
            {% if events %}
                <ul>
                {% for event in events %}
                    <li>{{event.text}}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No events are available.</p>
            {% endif %}
        </section>

        <div class="push"></div>
  </div>



  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>


</body>
